*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-45deg, #c21d24,#c21d24, #e93f25, #e99425);
    background-size: 300% 300%;
    position: relative;
    
    

    animation: change 3s ease-in-out infinite;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    
    100%{
    
        background-position: 0 50%;
    }
}
.navbar{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    height: 96px;
    width: 180px;
    margin-left: 67px;
    margin-top: 5px;
}
.navbar a{
    margin-right: 40px;
    color: white;
    text-decoration: none;
}
.menu{
    display: flex;
}

.container{
    height:85vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.left{
    width: 40vw;
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    justify-content: center;
    height: 100vh;
    color: white;
    position: relative;
}
.form-bg{
    height: 400px;
    width: 800px;
    background: #ffff;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;


}
h1{
    margin-top: 2rem;
}
p{
    width: 340px;
    margin-top: 2rem;
    text-align: justify;
}
